<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLBk_Online.app" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SQLBk_Online.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SQLBk_Online.app>
            <setting name="Servidor" serializeAs="String">
                <value />
            </setting>
        </SQLBk_Online.app>
        <SQLBk_Online.My.MySettings>
            <setting name="Servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Contrasena" serializeAs="String">
                <value />
            </setting>
            <setting name="Autentificacion" serializeAs="String">
                <value />
            </setting>
            <setting name="CadenaConexion" serializeAs="String">
                <value />
            </setting>
            <setting name="RespFull" serializeAs="String">
                <value />
            </setting>
            <setting name="RespDiff" serializeAs="String">
                <value />
            </setting>
            <setting name="ListaBD" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxRespaldos" serializeAs="String">
                <value />
            </setting>
            <setting name="Domingo" serializeAs="String">
                <value />
            </setting>
            <setting name="Lunes" serializeAs="String">
                <value />
            </setting>
            <setting name="Martes" serializeAs="String">
                <value />
            </setting>
            <setting name="Miercoles" serializeAs="String">
                <value />
            </setting>
            <setting name="Jueves" serializeAs="String">
                <value />
            </setting>
            <setting name="Viernes" serializeAs="String">
                <value />
            </setting>
            <setting name="Sabado" serializeAs="String">
                <value />
            </setting>
            <setting name="TipoResp1" serializeAs="String">
                <value>Completo</value>
            </setting>
            <setting name="TipoResp2" serializeAs="String">
                <value>Diferencial</value>
            </setting>
            <setting name="HLunes" serializeAs="String">
                <value />
            </setting>
            <setting name="HMartes" serializeAs="String">
                <value />
            </setting>
            <setting name="HMiercoles" serializeAs="String">
                <value />
            </setting>
            <setting name="HJueves" serializeAs="String">
                <value />
            </setting>
            <setting name="HViernes" serializeAs="String">
                <value />
            </setting>
            <setting name="HSabado" serializeAs="String">
                <value />
            </setting>
            <setting name="HDomingo" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioQS" serializeAs="String">
                <value />
            </setting>
            <setting name="PassQS" serializeAs="String">
                <value />
            </setting>
            <setting name="Correo" serializeAs="String">
                <value />
            </setting>
            <setting name="CorreoCompleto" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CorreoError" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RutaRespaldo" serializeAs="String">
                <value />
            </setting>
            <setting name="FechaUltRespaldo" serializeAs="String">
                <value />
            </setting>
            <setting name="Borrar" serializeAs="String">
                <value />
            </setting>
            <setting name="Nuevo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value>es</value>
            </setting>
            <setting name="Kpbs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TamTotal" serializeAs="String">
                <value>0</value>
            </setting>
        </SQLBk_Online.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SCIStreaming1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="SCIStreaming2" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="SCIStreaming" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="SCIStreaming3" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISrvSQLBkOnline">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://qsoluciones.net/host/actualizador/ServicioActualizar.svc/streaming"
                binding="basicHttpBinding" bindingConfiguration="SCIStreaming1"
                contract="RefActualizar.IServicioActualizar" name="SCIStreaming1" />
            <endpoint address="http://localhost:49739/Servicio.svc/streaming"
                binding="basicHttpBinding" bindingConfiguration="SCIStreaming2"
                contract="QSprueba.IServicio" name="SCIStreaming2" />
            <endpoint address="http://localhost:57609/SrvSQLBkOnline.svc/streaming"
                binding="basicHttpBinding" bindingConfiguration="SCIStreaming"
                contract="QS.ISrvSQLBkOnline" name="SCIStreaming" />
            <endpoint address="net.tcp://server:8000/SrvSQLBkOnline.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISrvSQLBkOnline"
                contract="QS.ISrvSQLBkOnline" name="NetTcpBinding_ISrvSQLBkOnline">
                <identity>
                    <dns value="sqlbk.com" />
                </identity>
            </endpoint>
            <endpoint address="http://server/SrvSQLBkOnline.svc/streaming"
                binding="basicHttpBinding" bindingConfiguration="SCIStreaming3"
                contract="QS.ISrvSQLBkOnline" name="SCIStreaming3" />
        </client>
    </system.serviceModel>
</configuration>
